

bcrypt

datashape


Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
fonttools

gunicorn


inflection

itsdangerous
jsonpointer
mkl-service
munkres
patsy
pep8
ply
pyarrow
PyDispatcher
pyls-spyder

python-lsp-jsonrpc
queuelib
scipy
TBB
webencodings
Werkzeug
WTForms
zstandard
