{% extends "homepage.html" %}

{% block body %}

<body>
    {% include "navbar.html" %}
    <div class="container">


      <div class="conteudo">

        {% for foto in fotos %}
          <a href="{{ url_for('delete_foto' , id_usuario = foto.id_usuario) }}" class="bloco-imagem">
            <img src="{{ url_for('static', filename='fotos_post/{}'.format(foto.imagem)) }}" />
          </a>
          <form action="{{ url_for('delete_photo') }}" method="POST">
              {{ form.csrf_token }}
              <input type="hidden" name="Foto" value={{ foto }}>
              <img src="photo.jpg" onclick="this.parentNode.submit();">
         </form>
       {% endfor %}

      </div>
    </div>
  </body>

{% endblock %}
